<h1><%= data.name %></h1>
<h3><%= data.information %></h3>
<% data.images.forEach(image => { %>
    <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>" alt="Image">
<% }); %>
<article class="article">
    <%= data.body %>
</article>